# Игнорируем зависимости (Docker сам сделает npm install внутри)
node_modules/
api/node_modules/
frontend/node_modules/

# Игнорируем тяжелые игровые файлы и БД
games/
_saves/
_tmp_uploads/
.audio-cache/
*.db
*.sqlite

# Игнорируем секреты (в Docker они прокидываются через docker-compose.yml)
.env
api/.env
frontend/.env

# Игнорируем файлы Git
.git/
.gitignore

# Системный мусор
.DS_Store
README.md
README.de.md
README.ru.md